{% extends 'base.html' %}
<!-- {%  '' %}    {% block content %}{ % endblock %}    -->
   {%  '' %}{%  '' %}
{% block title %}CRUD Cadastrar pessoas{% endblock %}
{% block content %}

    <!-- CONTAINER  - CONTEUDO DA PAGINA-->
    <div class="container">
        <form action="{% url 'cadastro_pessoa' %}" method="POST">
            {% csrf_token %}
            <!-- criar campos do formulario ( row ) -->
            <div class="row">
                <!-- parametros para dimencionar o tamanho dos campos na tela -->
                <div class="col-12 col-md-6 col-lg-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Nome completo</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" name="nome"
                            aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-12 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" name="email"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">CPF</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" name="cpf"
                                aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>


                <!-- ROW PARA BOTÃO -->
                <div class="row">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>

        </form>
    </div>

    <!-- FIM DO CONTAINER -->

     {% endblock %}